// this partial contains mixins which are independent reusable codes
@mixin clearfix {
    &::after {
        /* Height of an element collapses if it's child elements are floated.
        This mixin fixes the issue of collapsed height */
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}